@media only screen and (max-device-width: 480px) {

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ffffff;
  height: 30px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 2.7em;
  font-family: 'Work Sans', sans-serif;
}

.App-intro {
  padding-top:70px;
  font-size: large;
}

.Profile {
  margin-top: 8.5px;
  width:87%;
  float: center;
  border-radius: 50%;
}

.Prize {
  padding-top:10%;
  padding-bottom: 25%;
  postion: relative;
  z-index: 2;
  width:100%;
  height: auto;
  border-radius: 16px;
}

.PrizeContainer {
  position: relative;
  z-index: 1;
  margin-top:15px;
  margin-left: 15px;
  margin-right: 15px;
border: 0.5px solid #E5E5E5;
box-sizing: border-box;
border-radius: 16px;
}

.PrizeBoxContainer {
  width: 100%;
  margin-bottom:15px;
  border: 0.5px solid #E5E5E5;
  border-radius: 16px;
}

.counter {
  font-size: 4em;
  float: center;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

.count {
  font-family: 'Work Sans', sans-serif;
  padding-left: 15px;
  border: 1px;
  border-color: black;
}

.minus {
  opacity: 10%;
  width: 40px;
  font-size: 2.8em;
  display: inline-block;
}

.plus {
  width: 40px;
  font-size: 2.5em;
  display: inline-block;
}

.addPrize {
  height: 25px;
  margin-bottom: 25px;
  margin-right: 15px;
  text-align: right;
}

.star {
  float:right;
  height: 80px;
}

.price {
  color: #FFA768;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom:35px;
  font-size: 4em;
  font-family: 'Work Sans', sans-serif;
  padding-right: 40px;
  text-align: right;
}

.price-user {
  color: #FFA768;
  font-weight: bold;
  font-size: 4em;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

.boxprice {
  color: #FFA768;
  font-weight: bold;
  margin-bottom: 18px;
  margin-top: 18px;
  font-size: 3em;
  font-family: 'Work Sans', sans-serif;
}

.yellow-sticker {
  margin-left: 95px;
  background-color: #FFE600;
  border-radius: 50%;
  width: 60px;
}

.yellow-sticker-user {

  position: relative;
  z-index: 3;
  float: right;
  margin-right: 25px;
  top: -110px;
  background-color: #FFE600;
  border-radius: 50%;
  width: 75px;
}

.settings {
  display:block;
}

  .Modal {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.01);
  }

  .Modalmain {
  position: fixed;
  background: #B0E0FB;
  width: 90%;
  margin-right: 0px;
  padding-top:15px;
  padding-bottom: 35px;
  height: auto;
  border-radius: 11px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.ModalButton-yes {
  width: 127px;
height: 48px;
border: none;
border-radius: 11px;
font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 23px;
text-align: center;

color: #B0E0FB;
    background-color: #ffffff;
}

.ModalButton-no {
  margin-top:8px;
  border: none;
  background-color: #B0E0FB;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 23px;
  text-align: center;
color: #ffffff;

}


.tick {
  top: -500px;
  positon: relative;
  z-index: 4;
  width: 24px;
  height: 24px;
  float: right;

  background-color: #B0E0FB;
  border: 5px solid #B0E0FB;
  box-sizing: border-box;
  transform: rotate(45deg);
}

.modal-text {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 18px;
  line-height: 1.3em;
font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
color: #FFFFFF;
}

.Meter {
  width: 173px;
  height: 173px;
  border: solid #F8F7F7 12px;
  border-radius: 50%;
  display: inline-block;
}

.MeterBlue {
  width: 173px;
  height: 173px;
  border: solid #B0E0FB 12px;
  border-radius: 50%;
  display: inline-block;
}

.User {
  margin-top: 8.5px;
  width:87%;
  border-radius: 50%;
}

.UserTopSpace {
  height: 40px;
}

.UserBottomSpace {
  height: 400px;
}

.UserMeterBlue {
  margin-top:17px;
  margin-left:30%;
  margin-right:30%;
  width: 173px;
  height: 173px;
  border: solid #B0E0FB 12px;
  border-radius: 50%;
  display: inline-block;
}

.flexbox-wrapper {
  margin-left:15px;
  margin-right:15px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.ap-modal {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.01);
}

.ap-modalmain {
  position: fixed;
  background: #B0E0FB;
  width: 90%;
  margin-right: 0px;
  padding-top:15px;
  padding-bottom: 35px;
  height: auto;
  border-radius: 11px;
  border: none;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.ap-text {
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 23px;
  text-align: center;

  color: #FFFFFF;
}

.ap-input {
width: 242px;
height: 48px;
margin-bottom: 12px;

background: #FFFFFF;
border: 1px solid #B0E0FB;
box-sizing: border-box;
border-radius: 11px;
}

.ap-upload {
  width: 242px;
height: 48px;
border: solid 1px;
border-radius: 11px;
font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
    background-color: #B0E0FB;
}

.ap-submit {
  margin-top: 18px;
  width: 127px;
height: 48px;
border: none;
border-radius: 11px;
font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 23px;
text-align: center;

color: #B0E0FB;
    background-color: #ffffff;
}

.ap-no {
  margin-top:12px;
  border: none;
  background-color: #B0E0FB;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
color: #ffffff;
}

.nav {
  z-index: 5;
  margin-top:30px;
  padding-top:10px;
  width: 100%;
  border-top: solid 1px #000000;
  float: center;
  position:absolute;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

}
