@media only screen and (max-device-width: 480px) {

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ffffff;
  height: 30px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 2.7em;
  font-family: 'Work Sans', sans-serif;
}

.App-intro {
  padding-top:70px;
  font-size: large;
}

.Profile {
  width:60%;
  float: center;
}

.Prize {
  padding-top:15%;
  width:80%;
}



.counter {
  font-size: 4em;
  float: center;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

.count {
  font-family: 'Work Sans', sans-serif;
  padding-left: 15px;
  border: 1px;
  border-color: black;
}

.minus {
  width: 40px;
  font-size: 2.8em;
  display: inline-block;
}

.plus {
  width: 40px;
  font-size: 2.5em;
  display: inline-block;
}

.price {
  font-size: 4em;
  font-family: 'Work Sans', sans-serif;
  margin-top:0px;
  margin-bottom:0px;
}

.settings {
  display:block;
}

  .Modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }

  .Modalmain {
  position:fixed;
  background: white;
  width: 90%;
  height: auto;
  padding-top:5%;
  padding-bottom:5%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.ModalButton {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    margin-left:10px;
    margin-right:10px;

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

}
